body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, div {
  height: 100vh;
}

.container-fluid {
    display: flex;
    background-color: pink;
}

.left-div{
  border: 2px solid black;
  width: 40%;
  padding: 10px;
}

.right-div{
  border: 2px solid black;
  width: 60%;
  padding: 10px;
}




@media only screen and (max-width: 600px) {
  .container-fluid{
    display: block;
  }


}
